*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
}

ul,
li {
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
}

button {
  outline: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: block;
}

input, textarea {
  background: none;
  border: none;
  outline: none;
}

textarea {
  resize: none;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
